---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_CLOUDFLARE_TOKEN: "{{ bootstrap_cloudflare_token }}"
  SECRET_RECORD_ID: "{{ cf_record_id }}"
  SECRET_ZONE_ID: "{{ cf_zone_id }}"
