---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  TIMEZONE: "Europe/Warsaw"
  COREDNS_ADDR: "{{ coredns_addr }}"
  KUBE_VIP_ADDR: "{{ kube_vip_address }}"
  CLUSTER_CIDR: "{{ cluster_cidr }}"
  SERVICE_CIDR: "{{ service_cidr }}"
  NODE_CIDR: "{{ node_cidr }}"
  NAS_ADDRESS: {{ nas_address }}
  NAS_BASE_URL: {{ nas_base_url }}
