---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-user
  namespace: flux-system
stringData:
  SECRET_SONARR_API_KEY: "{{ sonarr_api_key }}"
  SECRET_RADARR_API_KEY: "{{ radarr_api_key }}"
